.app {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.header {
    font-size: 30px;
}

.todo-list {
    margin-top: 20px;
    list-style: none;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px auto 0;
}

.button-submit {
    margin-top: 10px;
}

.todo-cross {
    text-decoration: line-through;
}

.todo-item {
    cursor: pointer;
}

.filter-list {
    display: flex;
    margin: 20px auto 0;
    width: 50%;
}

.filter-item {
    margin-right: 10px;
    cursor: pointer;
}

.filter-item-active {
    text-decoration: underline;
}